.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Demos/Touchbar Tester/Pods
Demos/Touchbar Tester/Touchbar Tester.xcodeproj/project.xcworkspace/xcshareddata
Podfile.lock
Demos/Touchbar Tester/Touchbar Tester.xcworkspace/xcshareddata
Demos/DSFTouchBar Demo/DSFTouchBar Demo.xcodeproj/project.xcworkspace/xcshareddata
